@model IEnumerable<Silicus.Finder.Models.DataObjects.SkillSet>
           @using Kendo.Mvc.UI;

@{
    ViewBag.Title = "GetAllSkillSet";
}

<h2>Technologies</h2>
<div class="container">
@(Html.Kendo().Grid((IEnumerable<Silicus.Finder.Models.DataObjects.SkillSet>)(Model)) //Bind the grid to ViewBag.Products
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(skills=>skills.Name);
          columns.Bound(employee => employee.Description);        
      })
      .Pageable() // Enable paging
      .Sortable() // Enable sorting

)

</div>
