@model Silicus.Finder.Models.DataObjects.SkillSet

@{
    ViewBag.Title = "ProjectList_Nikhil";
}

<h2>ProjectList_Nikhil</h2>

<div>
    <h4>SkillSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SkillSetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
