@{
    ViewBag.Title = "Success";
}
<div style="padding-top:100px">
    <h2>@ViewBag.SavedskillSet added Successfully</h2>
</div>
<div>
    @Html.ActionLink("Back to List", "GetAllSkillSet", null, new { @class = "btn btn-primary" })
</div>
