@model IEnumerable<Silicus.Finder.Web.ViewModel.EmployeeNameViewModel>
@{
    ViewBag.Title = "SearchEmployeeByName";
}

>
<br />
<br />
<h5>Name :</h5>
@*<table class="table">*@

@foreach (var item in Model)
{
           
        <li>
            @Html.ActionLink(item.FullName, "Details", new { id = item.EmployeeId })
        </li>
           
}

