@model IEnumerable<Silicus.Finder.Web.ViewModel.EmployeeNameViewModel>
@{
    ViewBag.Title = "SearchEmployeeByName";
}


<br />
<br />
<br />
<br />
<br />
<br />
<h4>SearchEmployeeByName</h4>
@*<table class="table">*@

@foreach (var item in Model)
{
    
        <li>
            @Html.ActionLink(item.FullName, "Details", new { id = item.EmployeeId })
        </li>
   
    
    @*<tr>
        <td>
            @Html.ActionLink(item.FullName, "Details", new { id = item.EmployeeId })
        </td>
    </tr>*@
}
@*</table>*@


