

@{
    ViewBag.Title = "Index";
    var message = TempData["AlertMessage"] ?? string.Empty;
}

<h2>Index</h2>
<br />
<br />
<br />
<br />

<p>
    @Html.ActionLink("Create New", "CreateProject")
</p>


<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>